{% extends "@FOSUser/layoutBackend.html.twig" %}

{% block fos_user_content %}
    <p>Retour<a href="{{ path('mon_compte') }}">*</a> </p>
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock fos_user_content %}
