<ul class="nav">
    <li class="nav-item nav-category">
        <span class="nav-link">GENERAL</span>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('dashboard') }}">
            <span class="menu-title">Dashboard</span>
            <i class="icon-speedometer menu-icon"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">
            <span class="menu-title">Contact</span>
            <i class="icon-wrench menu-icon"></i>
        </a>
    </li>
    <li class="nav-item nav-category">
        <span class="nav-link">DONNÉES PERSONNELLES</span>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('liensociaux_index') }}">
            <span class="menu-title">Liens Sociaux</span>
            <i class="icon-grid menu-icon"></i>
        </a>
    </li>
</ul>